name: Build & Push Multi-Arch Docker Images (GHCR)

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        variant: [mini, base, full, xtra]

    steps:
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract version from tag
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          target: ${{ matrix.variant }}
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: |
            ghcr.io/rolsch/asterisk-${{ matrix.variant }}:latest
            ghcr.io/rolsch/asterisk-${{ matrix.variant }}:${{ github.sha }}
            ${{ startsWith(github.ref, 'refs/tags/') && format('ghcr.io/rolsch/asterisk-{0}:{1}', matrix.variant, env.VERSION) || '' }}
