name: Build & Push Multi-Arch Docker Images

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        variant: [mini, base, full, xtra]

    steps:
      - name: Checkout repository (with submodules)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract version from tag
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          target: ${{ matrix.variant }}
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: |
            rolsch/asterisk-${{ matrix.variant }}:latest
            rolsch/asterisk-${{ matrix.variant }}:${{ github.sha }}
            ${{ startsWith(github.ref, 'refs/tags/') && format('rolsch/asterisk-{0}:{1}', matrix.variant, env.VERSION) || '' }}
